on init
    start vndservicemanager

service vndservicemanager /system/bin/vndservicemanager /dev/vndbinder
    disabled
    user system
    group system readproc
    writepid /dev/cpuset/system-background/tasks
    shutdown critical
    seclabel u:r:recovery:s0
